@import url('https://fonts.googleapis.com/css?family=Marck+Script|Pattaya|Underdog');
a.advertising{ background: url(images/advertising1.jpg);
               display: block; /*  Рисунок как блочный элемент */
               width: 700px; 
               height: 467px;
               margin-top: 5%;
               margin-left: 13%;
               margin-bottom: 2%;
               float:left;
               position: relative;}

a.advertising:hover {background: url(images/advertising2.jpg);}

.account {
       width: 150px;
       height: 7%;
       margin: 0%;
       padding: 5px;

       font-family: alegreya;
       font-weight: bolder;      
       line-height: 20px;
       text-align: left;
       position: relative;}

.account a{color:  #000000;}
.account a:visited {color:  #000000;}
.account a:hover {color: #808080;}

.test {float: right;
       width: 400px;
       height: 100%;
       margin-bottom: 5%;
       
       background-color: #808080;
       border-radius: 10px;

       font-family: underdog;
       font-weight: bolder;      
       line-height: 20px;
       text-align: left;
       position: relative;}

    li{text-align: center;;
       
        margin-bottom: 7px;}
.bot {background: -moz-linear-gradient(#A9A9A9, #EBFFFF);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#A9A9A9), to(#EBFFFF));
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A9A9A9', endColorstr='#EBFFFF');
      padding: 3px 7px;
      color: 000000;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #A9A9A9;} 

ol {padding-left: 1.4em;
    list-style: decimal;}

.menu {
  margin-left: 7%;
  margin-top: 20%;
  text-align: left;
  width: 1000px;
  position: relative;
  /*float: left;*/}

.menu-item {
  padding: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 25pt;
  font-weight: bold;
  display: inline-block;
  height: 250px;
  width: 25%;
  z-index: 15;
  background-color: rgba(68, 68, 68, 0.5);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  vertical-align: top;
}

.menu-item:hover {background-color: rgba(68, 68, 68, 0.9);
  cursor: pointer;
}

.menu-item-caption {
  margin: 0 auto;
}

.menu-item-text {
  display: block;
  font-size: 20pt;
  font-weight: normal;
}

.menu-item-pic {
  width: 100%;
  height: auto;
  border: 1px solid rgb(255, 255, 255);
  margin-bottom: 20px;}

     
   
    
    
    
        
  