h2 {
	color: #000000;
    font-family: Florence, cursive;
    font-style: oblique;
    font-size: 1.4em;
    text-align:center;
    text-shadow: 4px 3px 6px #E0FFFF; 
    background-color: #696969; 
    margin-top: 20px;
    padding:0;
    height: 40px;}
}
.feedback
 {
	height: 80%;
	max-width: 1920px;
	margin-bottom: 5%;
	font-size: 7px;
	background: rgba(0,0,0,.6);
    backgrop-filter:grayscale(1) contrast(3) blur(1px);
	z-index: 11;

}

.form-wrapper {
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 5%;
}

.feedback-form {
	display: inline-block;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(8, 68, 68, 0.5);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 10px;
	text-align: center;

}

.feedback-form-text {
	width: 100%;
}

.feedback-form p {
	font-size: 12pt;
	color: #FFFAFA;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: left;
}

.feedback-form-col {
	display: inline-block;
	width: 30%;
	margin-right: 15px;
	text-align: left;
	vertical-align: top;
}

.feedback-form-textarea {
	width: 100%;
}

.feedback-form-button {
	margin: 10px auto;
}

.time {
	margin-left: 40px;
}

h3 {
	color: #000000;
    font-family: Florence, cursive;
    font-style: oblique;
    font-size: 1.2em;
    text-align:left;
    font-weight: bold;
    }

h4 {
	color: #000000;
    font-family: Florence, cursive;
    font-style: oblique;
    font-size: 1.3em;
    text-align:left;
    text-align: center;
   
    font-stretch: expanded;
    font-weight: bolder;
    }

li {
	color: #000000;
    font-family: Arial;
    font-style: oblique;
    text-align:left;
    line-height: 20px;
    padding-left: 50px;
}    

.time_oc {
	font-size: 1.3em;
	font-family: Arial;
	padding-left: 20px;
	padding-top: 0px;
	background-color: rgba(68, 68, 68, 0.5);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 10px;
	margin-left: 250px;
	margin-right: 810px;
	text-align: center
}